{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

	<div class="blog-section mb-3">
		<div class="media">
		  <img class="profile-pic" src="{{ post.author.profile.profile_pic.url }}">
		  <div class="media-body">
		  	<a href="{% url 'profile' post.author %}" style="color: #3b3b3b"><strong>{{ post.author }}</strong></a> 

		  	{% if request.user.is_authenticated %}
		  		{% include 'blog/add_bookmark.html' %}
		  	{% endif %}
		  	
		  	<br>
		  	<small class="text-muted">{{ post.date_posted | naturaltime }}</small>
		  </div> 
		</div>
		<hr>
		<div class="blog-title">
			<h5><a href="{% url 'post-detail' post.slug %}" style="color: #3b3b3b">{{ post.title }}</a></h5>
		</div>
		<div class="blog-content text-muted">
			<p>{{ post.content | linebreaks }}</p>
		</div>
		{% if request.user.is_authenticated %}
			<div class="post-footer">
				{% include 'blog/post_util.html' %}
			</div>
		{% endif %}
	</div>

{% endblock content %}